DotNet/Tietoturva/bin/Debug/netcoreapp3.1/Tietoturva.deps.json
DotNet/Tietoturva/bin/Debug/netcoreapp3.1/Tietoturva.dll
DotNet/Tietoturva/bin/Debug/netcoreapp3.1/Tietoturva.exe
DotNet/Tietoturva/bin/Debug/netcoreapp3.1/Tietoturva.pdb
DotNet/Tietoturva/bin/Debug/netcoreapp3.1/Tietoturva.runtimeconfig.dev.json
DotNet/Tietoturva/bin/Debug/netcoreapp3.1/Tietoturva.runtimeconfig.json
DotNet/Tietoturva/obj/Debug/netcoreapp3.1/Tietoturva.assets.cache
DotNet/Tietoturva/obj/Debug/netcoreapp3.1/Tietoturva.csproj.CoreCompileInputs.cache
DotNet/Tietoturva/obj/Debug/netcoreapp3.1/Tietoturva.csproj.FileListAbsolute.txt
DotNet/Tietoturva/obj/Debug/netcoreapp3.1/Tietoturva.csprojAssemblyReference.cache
DotNet/Tietoturva/obj/Debug/netcoreapp3.1/Tietoturva.dll
DotNet/Tietoturva/obj/Debug/netcoreapp3.1/Tietoturva.exe
DotNet/Tietoturva/obj/Debug/netcoreapp3.1/Tietoturva.genruntimeconfig.cache
DotNet/Tietoturva/obj/Debug/netcoreapp3.1/Tietoturva.pdb
DotNet/Tietoturva/obj/Debug/netcoreapp3.1/Tietoturva.AssemblyInfoInputs.cache
