DotNet/Tietoturva/bin/Debug/netcoreapp3.1/Tietoturva.deps.json
DotNet/Tietoturva/bin/Debug/netcoreapp3.1/Tietoturva.dll
DotNet/Tietoturva/bin/Debug/netcoreapp3.1/Tietoturva.exe
DotNet/Tietoturva/bin/Debug/netcoreapp3.1/Tietoturva.pdb
DotNet/Tietoturva/bin/Debug/netcoreapp3.1/Tietoturva.runtimeconfig.dev.json
DotNet/Tietoturva/bin/Debug/netcoreapp3.1/Tietoturva.runtimeconfig.json
DotNet/Tietoturva/obj/Debug/netcoreapp3.1/Tietoturva.assets.cache
DotNet/Tietoturva/obj/Debug/netcoreapp3.1/Tietoturva.csproj.CoreCompileInputs.cache
DotNet/Tietoturva/obj/Debug/netcoreapp3.1/Tietoturva.csproj.FileListAbsolute.txt
DotNet/Tietoturva/obj/Debug/netcoreapp3.1/Tietoturva.csprojAssemblyReference.cache
DotNet/Tietoturva/obj/Debug/netcoreapp3.1/Tietoturva.dll
DotNet/Tietoturva/obj/Debug/netcoreapp3.1/Tietoturva.exe
DotNet/Tietoturva/obj/Debug/netcoreapp3.1/Tietoturva.genruntimeconfig.cache
DotNet/Tietoturva/obj/Debug/netcoreapp3.1/Tietoturva.pdb
DotNet/Tietoturva/obj/Debug/netcoreapp3.1/Tietoturva.AssemblyInfoInputs.cache
DotNet/SQL-testi/SqlServerTesti/.vs/SqlServerTesti/v16/.suo
DotNet/SQL-testi/SqlServerTesti/.vs/SqlServerTesti/v16/Server/sqlite3/db.lock
DotNet/SQL-testi/SqlServerTesti/.vs/SqlServerTesti/v16/Server/sqlite3/storage.ide
DotNet/SQL-testi/SqlServerTesti/.vs/SqlServerTesti/v16/Server/sqlite3/storage.ide-shm
DotNet/SQL-testi/SqlServerTesti/.vs/SqlServerTesti/v16/Server/sqlite3/storage.ide-wal
DotNet/SQL-testi/SqlServerTesti/SqlServerTesti/bin/Debug/SqlServerTesti.exe
DotNet/SQL-testi/SqlServerTesti/SqlServerTesti/bin/Debug/SqlServerTesti.exe.config
DotNet/SQL-testi/SqlServerTesti/SqlServerTesti/bin/Debug/SqlServerTesti.pdb
DotNet/SQL-testi/SqlServerTesti/SqlServerTesti/obj/Debug/DesignTimeResolveAssemblyReferences.cache
DotNet/SQL-testi/SqlServerTesti/SqlServerTesti/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DotNet/SQL-testi/SqlServerTesti/SqlServerTesti/obj/Debug/SqlServerTesti.csproj.FileListAbsolute.txt
DotNet/SQL-testi/SqlServerTesti/SqlServerTesti/obj/Debug/SqlServerTesti.csproj.GenerateResource.cache
DotNet/SQL-testi/SqlServerTesti/SqlServerTesti/obj/Debug/SqlServerTesti.csprojAssemblyReference.cache
DotNet/SQL-testi/SqlServerTesti/SqlServerTesti/obj/Debug/SqlServerTesti.exe
DotNet/SQL-testi/SqlServerTesti/SqlServerTesti/obj/Debug/SqlServerTesti.Form1.resources
DotNet/SQL-testi/SqlServerTesti/SqlServerTesti/obj/Debug/SqlServerTesti.pdb
DotNet/SQL-testi/SqlServerTesti/SqlServerTesti/obj/Debug/SqlServerTesti.Properties.Resources.resources
